@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
      font-family: 'Manrope', poppins;
      transition: 0.3s;
}

.tabs:hover{
      background: rgb(35, 35, 37);
}
